<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Busqueda</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body class="container">
<h2>Lista Jobs</h2>

<table class="table table-striped">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Nombre del Trabajo</th>
        <th scope="col">Rango de Salarios</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="j,i:${lista}">
        <th scope="col" th:text="${j.job_title}"></th>
        <th scope="col" th:text="${j.min_salary}+' a '+${j.max_salary}"></th>
        <th><a class="btn btn-primary" th:href="@{'/editarJobs'+'?id='+${c.job_id}}">Editar Jobs</a></th>
        <th><a class="btn btn-danger" th:href="@{'/borrarJobs'+'?id='+${c.job_id}}" >Borrar Jobs</a></th>
    </tr>
    </tbody>
</table>
<a class="btn btn-info" th:href="@{'/jobs/lista'}" >Regresar</a>
</body>
</html>